body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #4e54c8, #8f94fb);
}


.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

#chat-messages {
    margin-top: 20px;
}

.message {
    margin-bottom: 10px;
    max-width: 80%;
    word-wrap: break-word;
    overflow: hidden;
}

.message-bubble {
    padding: 10px;
    border-radius: 10px;
}

.sent-message {
    background-color: #4e54c8;
    color: #fff;
    text-align: right;
    border-radius: 20px;
    padding: 10px 15px;
    margin-bottom: 10px;
    max-width: 70%;
    word-wrap: break-word;
}

.received-message {
    background-color: #8f94fb;
    color: #fff;
    text-align: left;
    border-radius: 20px;
    padding: 10px 15px;
    margin-bottom: 10px;
    max-width: 70%;
    word-wrap: break-word;
}

.message-form {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4e54c8;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #4350b7;
}
